ion-button {
    width: 90%;
    height: 110%;
    margin-bottom: 5%;
    font-size: 90%;
    border-radius: 10px;
}

@media screen and (max-width: 550px){
    ion-button{
        width: 90%;
        height: 110%;
        margin-bottom: 5%;
        font-size: 110%;
    }
  }

.color1{
    background-color: #A3E4D7;
}

.color2{
    background-color: #48D1CC;
}

.color3{
    background-color: #006666;
}

.color4{
    background-color: #086A87;
}

.color5{
    background-color: #1565C0;
}

.color6{
    background-color: #F85B5B;
}
.color7{
    background-color: #48AAAD;
}

ion-grid {
    margin-top: 3%;
}
@media screen and (max-width: 550px){
    ion-grid {
        margin-top: 10%;
    }
  }

ion-content{
    vertical-align: middle;
    text-align: center;
    justify-content: center;
  }

ion-col {
    margin-top: 1%;
  }
  @media screen and (max-width: 550px){
    ion-col {
        margin-top: 3%;
    }
  }

ion-icon {
    width: 20%;
}